[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=BikeMe
Icon=harbour-bikeme
Exec=harbour-bikeme

[X-Sailjail]
OrganizationName=harbour-bikeme
ApplicationName=harbour-bikeme
Permissions=Internet;Location
